<!DOCTYPE html>
<html>
  <head>
    <title>Basic Forem demo</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to current_user.email, main_app.edit_user_registration_path %>
        <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>
        <% if current_user.forem_admin %>
          <%= link_to "Administrate", forem.admin_root_url %>
        <% end %>
      <% else %>
        <%= link_to "Sign up", main_app.new_user_registration_path %>
        <%= link_to "Sign in", main_app.new_user_session_path %>
      <% end %>
    </header>
<h1>Products from affiliate API</h1>
<% if @products %>
  <div class="products">

    <!-- If API changes products, new products will be added to our DB, so make sure we only display 10 at a time -->

    <% @products.last(10).each do |product| %>
      <div class="product">
        <%= link_to product.name, product.url %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="products processing">
    <p>Fetching products, wait a moment ...</p>

    <!-- Fetch via Ajax later -->

  </div>
<% end %>
    <%= yield %>
  </body>
</html>

